server:
  port: 8081

spring:
  application:
    name: SmartContactManager

  # DATABASE CONFIGURATION
  datasource:
    url: jdbc:mysql://localhost:3306/smartcontactmanager
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver


  # JPA SETTINGS
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  # MULTIPART FILE SIZE
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
