body{
    background: #e2e2e2 !important;
}

.bg-primary{
    background: #009688 !important;
}

.banner{
    width: 100%;
    height: 92vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(../images/smartcontact.jpg);
    background-size: cover;
    color: white;
}

.my-card{
    padding: 20px;
    background: #FFFFFF;
}

/* sidebar styling */
.sidebar{
    width: 18%;
    background: white;
    height: 100vh;
    position: fixed;
    padding-top: 45px;
}

.sidebar a{
    display: block;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
    color: gray;
}

@media only screen and (max-width: 600px){
    .sidebar{
        display: none;
        width: 80% !important;
        background: white;
        height: 100vh;
        position: fixed;
        padding-top: 20px;
    }
    .content{
        margin-left: 0% !important;
    }
}

.sidebar a:hover{
    background: #e2e2e2;
}

.sidebar .crossBtn{
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 36px;
    cursor: pointer;
}

/* end of sidebar styling */

.content{
    margin-left: 20%;
}